/*-----------------------------import-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}



/*-----------------------------INDEX-----------------------------------*/

/*-----------------------------header-----------------------------------*/

header {
    width: 100%;
    background: #0f1116;
    height: 120px;
    font-family: 'Mukta', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container_header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.container_header .searchbar input {
    border: 2px solid #85F2DE;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
}

.searchbar {
  position: relative;
}

.searchbar .fa-search {
    color: #85F2DE;
    position: absolute;
    top: 10px;
    right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.test .fa-search {
  color: transparent;
}

.logo img {
    height: 40px;
    width: 170px;
}

nav {
    position: relative;
    margin-top: -15px;
}

nav ul li {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 70px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    opacity: 50%;
    transition: 0.5s ease;
}

nav ul li strong {
    font-weight: normal;
    color: white;
    border-right: 1px solid white;
    height: 20px;
    display: inline;
    padding-right: 60px;
    margin-left: 60px;
}

nav ul li ul li {
    background-color: #0f1116;
    display: none;
}

nav ul li:hover ul li{
    background-color: #0f1116;
    display: block;
    transition: all 1s ease-out;
}

.m-nav-toggle {
  width: 40px;
  height: 70px;
  display: none;
  align-items: center;
  cursor: pointer;
}

.m-toggle-icon {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  position: relative;
}

.m-toggle-icon:before {
  top: 12px;
  content: "";
  display: block;
  width: 100%;
  text-align: right;
  height: 3px;
  background: #FFFFFF;
  position: relative;
}

.m-toggle-icon:after {
  top: -14px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  position: relative;
}

@media only screen and (max-width: 1050px) {
  .searchbar {
    margin-right: 35%;
  }

  .nav {
    display: none;
  }

  .logo img {
    height: 40px;
    width: 170px;
  }

  .m-nav-toggle {
    display: flex;
    float: right;
    margin-right: 50px;
    margin-top: -70px;
    position: relative;
    z-index: 2;
  }

  .m-toggle-icon-open {
    background-color: transparent;
    transition: all .4s;
    width: 100%;
  }

  .m-toggle-icon-open:before {
    transform: translateY(-13px) rotate(45deg);
    transition: all .4s;
    width: 100%;
  }

  .m-toggle-icon-open:after {
    transform: translateY(10px) rotate(-45deg);
    transition: all .4s;
    width: 100%;
  }

  .searchbar .fa-search {
    display: none;
  }

  .test .fa-search {
    color: #85F2DE;
    position: absolute;
    right: 120px;
    top: 43px;
    font-size: 25px;
    cursor: pointer;
  }

}

@media only screen and (max-width: 750px) {
  .logo img {
    height: 25px;
    width: 125px;
    margin-top: 10px;
    margin-right: 22px;
  }

  .container_header .searchbar input {
    border: 2px solid #85F2DE;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
  }

  .m-nav-toggle {
    width: 30px;
    height: 30px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
  }

  .home_image img {
    display: none;
  }

  .test .fa-search {
    color: #85F2DE;
    position: absolute;
    right: 100px;
    top: 48px;
    font-size: 25px;
    cursor: pointer;
  }

}


/*-----------------------------main-----------------------------------*/

main {
  overflow-x: hidden;
}

.home_image {
    text-align: center;
    margin-top: 200px;
}
.home_image img {
    max-width: 80%;
}

main h2 {
  font-family: 'Days One', sans-serif;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 10%;
  text-align: left;
}

@media only screen and (max-width: 750px) {
  main {
    margin-top: -70px;
  }
}

.parallax {
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

@media screen and (max-width: 860px) {
  .parallax {
    height: 600px;
  }
}

@media screen and (max-width: 520px) {
  .parallax {
    height: 700px;
  }
}

@media screen and (max-width: 380px) {
  .parallax {
    height: 800px;
  }
}

.parallax .text_parallax h3 {
    color: white;
    font-family: 'Days One', sans-serif;
    text-align: left;
}

.parallax .text_parallax p {
    color: white;
    font-family: 'Mukta', sans-serif;
    max-width: 75%;
    margin-top: 20px;
}

.parallax .text_parallax {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.videos {
  margin-bottom: 50px;
}


/*-----------------------------slider-----------------------------------*/


.container .mini-container .descri h3,p {
    max-width: 225px;
    font-family: 'Mukta', sans-serif;
}
.container .mini-container .img img {
    max-width: 80%;
}

.slider {
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    position: relative;
}

/*-----------------------------footer-----------------------------------*/

footer {
    background: linear-gradient(#1C2745, #0D0D0D);
    color: white;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    width: 100%;
    padding-bottom: 100px;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  opacity: 25%;
  transition: all 0.5s ease;
}

footer li a img {
  width: 20px;
  margin-right: 20px;
  padding-top: 5px;
}

footer h3 {
    padding-top: 50px;
}

.footer_column {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
    justify-content: space-around;
}

.footer_column div {
    text-align: left;
}

.footer_column div h4 {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .footer_column {
    flex-direction: column;
    margin-left: 120px;
  }
  .footer_column h4:nth-child(n-2){
    margin-top: 50px;
  }
}




